@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background: var(--light-color);
  margin: 1.25rem;
}
